

textarea{
height: 300px;
width: 400px;
border: 2px solid red;
outline:green;
font-weight: 500;
border-radius: 20px;
background-color:rgba(248, 248, 255, 0.49) ;
}

#count{
    color: red;
    width: 20px;
}